body{
    margin: 20px;
}
label{
    font-family: sans-serif;
    margin-right: 10px;
}
progress{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 400px;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(139, 202, 211);
}

progress[value]::-webkit-progress-bar{
    background-color: rgb(50, 9, 9);
}

progress[value]::-webkit-progress-value{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-image: linear-gradient(45deg, #c131d4 25%, #171312 25%, #171312 50%, #c131d4 50%, #c131d4 75%, #171312 75%, #171312 100%);
background-size: 56.57px 56.57px;
}